
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-image_block  {
    background-image: url('1583735326-3342.jpg');
    background-size: cover;
    padding: 100px 30px;
    position: relative;
}

.top-image_block:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.personal-info {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.personal-info h2 {
    font-size: 36px;
    letter-spacing: 3px;
    height: 36px;
    margin-bottom: 20px;
}
.personal-info h4 {
    font-size: 26px;
    margin-bottom: 10px;
}
.social-media_list {
    display: flex;
    justify-content: center;
    list-style: none;

    font-size: 18px; 
}

.social-media_list  li {
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-media_list a {
    color:  #fff;
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}
